<!DOCTYPE html>
<html ng-app="loja">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="resources/script/angular.min.js"></script>
<script type="text/javascript" src="resources/script/primeiroController.js"></script>
</head>
<body ng-controller="primeiroController as user" id="corpo">
	
	<input type="text" ng-model="user.meuNome">
	<br/>
	<input type="text" ng-model="user.meuSobrenome">
	
	<br/>
	<h1>Nome: {{user.meuNome}}</h1>
	<h1>Sobrenome: {{user.meuSobrenome}}</h1>
	
	<a href="#" ng-click="addContador();">Add</a>
	<hr>
	<h1>Contador: {{contador}}</h1>
	
	<hr>
	
	<h1>Loop</h1>
	<ul>
		<li ng-repeat="nome in pessoas">{{nome}}</li>
	</ul>
</body>
</html>